<% include includes/header.ejs%>

	<div class="container">
		<div class="card-panel hoverable grey darken-4 white-text  center flow-text"><b>Requests on Queue</b></div>

		<a class="waves-effect blue darken-4 waves-light btn" onclick="getData()">refresh</a>
		<br><br>

		<table id="table" class="table responsive-table highlight centered">
			<thead class="deep-purple white-text">
				<th>ID</th>
				<th>Assigned BY</th>
				<th>Message</th>
				<th>Time Stamp</th>
				<th>Wait Time</th>
			</thead>
		</table>
	</div>

<% include includes/footer.ejs%>